@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
main{
    background-color: #f0f2f5;
    padding: 92px 0px 132px;
}

h1{
    font-family: 'Titillium Web', sans-serif;
    color: #1876f2;
    font-size: 59px;
    letter-spacing: 0.1px;
    margin-bottom: 1px;
}
.content{
    width: 980px;
    margin: 0 auto;
    padding-top: 3.5px;
}
.seccion1{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 520px;
    height: 496px;
    padding-right: 1px;
    margin-right: 46px;
}
.logo-box{
    margin: 90px 0;
}
.logo-box p{
    font-size: 28px;
    margin: 0;
}

.seccion2{
    display: inline-block;
    box-sizing: border-box;
    width: 396px;
    height: 496px;
    vertical-align: middle;
    padding-top: 35px;
}
.seccion2 p{
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}

.login-box{
    display: inline-block;
    box-sizing: border-box;
    box-shadow: -4px 10px 10px #dddfe2, 4px 0px 10px #dddfe2;
    width: 396px;
    height: 350px;
    background-color: white;
    border-radius: 2%;
    padding: 15px;
}
.login-box input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    margin-bottom: 11px;
    padding-left: 14px;
    caret-color: #1876f2;
}
.login-box input:focus{
    border: 1px solid #1876f2;
    outline: #e7f3ff solid 2px;
}
::placeholder{
    color:#a09f9f;
    font-size: 16px;
    font-weight: 500;

}
.login-box input:focus::placeholder{
    color:#bec3c9;
    font-size: 16px;
    font-weight: 500;
}
.login-button{
    display: block;
    width: 100%;
    height: 49px;
    background-color: #1876f2;
    transition: background-color 0.19s;
    border: none;
    border-radius: 7px;
    margin-top: 18px;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.login-button:hover{
    background-color: #166fe5;
    transition: background-color 0.19s;
}
.signin-button{
    display: block;
    width: 188px;
    height: 47px;
    background-color: #42b72a;
    transition: background-color 0.19s;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 28px auto;
}

.signin-button:hover{
    background-color: #36a420;
    transition: background-color 0.19s;
}

.login-box a{
    display: block;
    text-align: center;
    margin: 20px 0;
    font-size: 13.5px;
    text-decoration: none;
    font-weight: lighter;
    color:#1876f2;
}
.login-box a:hover{
    text-decoration: underline;
}

.login-box a:visited{
    color:#1876f2;
}

.login-box hr{
    height: 1px;
    background: #dddfe2;
    border: none;
}
.seccion2 a{
    color: black;
    text-decoration: none;
}
.seccion2 a:hover{
    text-decoration: underline;
}





.foot-content{
    width: 980px;
    font-size: 12.5px;
    margin: 0 auto;

}
.foot-content *{
    color: #999698;
    text-decoration: none;
}

.foot-content hr{
    height: 1px;
    background: #dddfe2;
    border: none;
    margin: 9px 0 11px 0;
}

.lang-list{
    padding-top: 25px;
}
.lang-list *{
    margin-right: 10px;
}

.lang-list a:hover{
    text-decoration: underline;
}

.lang-list > p {
    display: inline;
    color: #737373;
}

.lang-selector{
    display: inline-block;
    width: 30px;
    height: 20px;
    background-color: #f5f6f7;
    border-style: solid;
    border-width: 1px;
    border-color: #dddfe2;
    border-radius: 3px;
    transition: background-color 0.19s;
}
.lang-selector:hover{
    cursor: pointer;
    background-color: #ebedf0;
    transition: background-color 0.19s;
}

.footer-menu *{
    margin-right: 10px;
}
.footer-menu a:hover{
    text-decoration: underline;
}

.ID{
    color: #737373;
}
@font-face {
    font-family: 'klavikabold';
    src: url('fonts/klavikabold.eot');
    src: url('fonts/klavikabold.eot') format('embedded-opentype'),
         url('fonts/klavikabold.woff2') format('woff2'),
         url('fonts/klavikabold.woff') format('woff'),
         url('fonts/klavikabold.ttf') format('truetype'),
         url('fonts/klavikabold.svg#klavikabold') format('svg');
}