@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
main{
    background-color: #f0f2f5;
    padding: 92px 0px 132px;
    /* z-index: 0; */
    opacity: 1;
    /* transition: opacity 0.2s; */
}
footer{
    opacity: 1;
    transition: opacity 0.2s;
}

h1{
    font-family: 'Titillium Web', sans-serif;
    color: #1876f2;
    font-size: 59px;
    letter-spacing: 0.1px;
    margin-bottom: 1px;
}
.content{
    width: 980px;
    margin: 0 auto;
    padding-top: 3.5px;
}
.seccion1{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 520px;
    height: 496px;
    padding-right: 1px;
    margin-right: 46px;
}
.logo-box{
    margin: 90px 0;
}
.logo-box p{
    font-size: 28px;
    margin: 0;
}

.seccion2{
    display: inline-block;
    box-sizing: border-box;
    width: 396px;
    height: 496px;
    vertical-align: middle;
    padding-top: 35px;
}
.seccion2 p{
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}

.login-box{
    display: inline-block;
    box-sizing: border-box;
    box-shadow: -4px 10px 10px #dddfe2, 4px 0px 10px #dddfe2;
    width: 396px;
    height: 350px;
    background-color: white;
    border-radius: 2%;
    padding: 15px;
}
.login-box input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    margin-bottom: 11px;
    padding-left: 14px;
    caret-color: #1876f2;
}
.login-box input:focus{
    border: 1px solid #1876f2;
    outline: #e7f3ff solid 2px;
}
::placeholder{
    color:#a09f9f;
    font-size: 16px;
    font-weight: 500;

}
.login-box input:focus::placeholder{
    color:#bec3c9;
    font-size: 16px;
    font-weight: 500;
}
.login-button{
    display: block;
    width: 100%;
    height: 49px;
    background-color: #1876f2;
    transition: background-color 0.19s;
    border: none;
    border-radius: 7px;
    margin-top: 18px;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.login-button:hover{
    background-color: #166fe5;
    transition: background-color 0.19s;
}
.signin-button{
    display: block;
    width: 188px;
    height: 47px;
    background-color: #42b72a;
    transition: background-color 0.19s;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 28px auto;
}

.signin-button:hover{
    background-color: #36a420;
    transition: background-color 0.19s;
}

.login-box a{
    display: block;
    text-align: center;
    margin: 20px 0;
    font-size: 13.5px;
    text-decoration: none;
    font-weight: lighter;
    color:#1876f2;
}
.login-box a:hover{
    text-decoration: underline;
}

.login-box a:visited{
    color:#1876f2;
}

.login-box hr{
    height: 1px;
    background: #dddfe2;
    border: none;
}
.seccion2 a{
    color: black;
    text-decoration: none;
}
.seccion2 a:hover{
    text-decoration: underline;
}


.foot-content{
    width: 980px;
    font-size: 12.5px;
    margin: 0 auto;

}
.foot-content *{
    color: #999698;
    text-decoration: none;
}

.foot-content hr{
    height: 1px;
    background: #dddfe2;
    border: none;
    margin: 9px 0 11px 0;
}

.lang-list{
    padding-top: 25px;
}
.lang-list *{
    margin-right: 10px;
}

.lang-list a:hover{
    text-decoration: underline;
}

.lang-list > p {
    display: inline;
    color: #737373;
}

.lang-selector{
    display: inline-block;
    width: 30px;
    height: 20px;
    background-color: #f5f6f7;
    border-style: solid;
    border-width: 1px;
    border-color: #dddfe2;
    border-radius: 3px;
    transition: background-color 0.19s;
}
.lang-selector:hover{
    cursor: pointer;
    background-color: #ebedf0;
    transition: background-color 0.19s;
}

.footer-menu *{
    margin-right: 10px;
}
.footer-menu a:hover{
    text-decoration: underline;
}

.ID{
    color: #737373;
}










.signin-content{
    visibility: hidden;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 432px;
    border-radius: 7px;
    background-color: white;
    opacity: 0;
    box-shadow: -1px 7px 9px #dddfe2, 1px 0 9px #dddfe2;
    transition: visibility 0.3s, opacity 0.2s;
}

.visible{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.2s;
    z-index: 2;
}
.difuminado{
    opacity: 0.2;
    transition: opacity 0.2s;
}

.overlay{
    position: fixed; /* Positioning and size */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.upper-signin{
    padding: 10px 16px;
}

.signin-content hr{
    height: 1px;
    background: #dddfe2;
    border: none;
    margin: 0;
}
.lower-signin{
    box-sizing: border-box;
    padding: 16px;
}
.upper-signin h2{
    display: inline-block;
    font-size: 32px;
    margin: 0;
    padding: 0;
}
.upper-signin p{
    color: #737373;
    font-size: 15px;
    margin: 3px 0 0 0; 
}
.close-signin-btn{
    margin-left: 210px;
}
.close-signin-btn img{
   width: 16px;
   height: 25px 
}
.close-signin-btn:hover{
    cursor:default;
}
.close-signin-btn img:hover{
    cursor:default;
}

.short-input{
    display: inline-block;
    box-sizing: border-box;
    background-color: #f5f6f7;
    border: solid 1px #ccd0d5;
    border-radius: 5px;
    width: 194px;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 40px;
}
.short-input::placeholder{
    color: #8d949e;
    font-size: 15px;
}
.large-input{
    display: inline-block;
    box-sizing: border-box;
    background-color: #f5f6f7;
    border: solid 1px #ccd0d5;
    border-radius: 5px;
    width: 399px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.large-input::placeholder{
    color: #8d949e;
    font-size: 15px;
}
.first-input{
    margin-right: 5.57px;
}
.text-input:focus{
    outline: none;
}
.bday-header{
    color: #606770;
    font-size: 12px;
    margin: 4px 0 3px 0;
}
.bday-selector{
    box-sizing: border-box;
    border: solid 1px #ccd0d5;
    border-radius: 5px;
    width: 121px;
    height: 36px;
    border-radius: 4px;
}
.bday-selector:focus{
    outline: none;
}
.bday-1{
    margin-right: 13px;
}

.bday-2{
    margin-right: 13px;
}

.sex-header{
    color: #606770;
    font-size: 12px;
    margin: 12px 0 3px 0;
}
.sex-selector{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    padding-top: 7px;
    padding-left: 10px;
    border-radius: 3px;
}
.sex-selector input{
    margin-left: 21px;
}
.sselector-1{
    width: 100px;
    height: 36px;
    margin-right: 7.05px;
    border: solid 1px #ccd0d5;
    border-radius: 5px;
    color: #1c1e21;
    font-size: 15.3px;
    font-weight: lighter;
}
.sselector-2{
    width: 116px;
    height: 36px;
    margin-right: 7.05px;
    border: solid 1px #ccd0d5;
    border-radius: 5px;
    color: #1c1e21;
    font-size: 15.3px;
    font-weight: lighter;
}
.sselector-3{
    width: 159px;
    height: 36px;
    border: solid 1px #ccd0d5;
    border-radius: 5px;
    color: #1c1e21;
    font-size: 15.3px;
    font-weight: lighter;
}

.warning{
    color: #777777;
    font-size: 11.5px;
    margin: 15px 0;
}
.signin-submit{
    display: block;
    box-sizing: border-box;
    background-color: #00a400;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 6px;
    width: 194px;
    height: 36px;
    margin: 0 auto 8px auto;
}
.signin-submit:hover{
    cursor:pointer;
}