body{
    background-color: #f0f2f5;
}
h1{
    color: green;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 56px;
    background-color: white;
    /* border: 1px black solid; */
}

.logo-img{
    width: 45px;
    height: 45px;
    margin-top: 5px;
    margin-left: 13px;
}
.search-div{
    display: inline-block;
}
.search-div form{ 
    position: absolute;
    width: 100px;
    height: 45px; 
    top: 9px;
    left: 63px;
}
.search-div input{
    width: 237px;
    height: 38px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    border-style: none;
}
.search-div input::placeholder{
    padding-left: 20px;
}






/* TODA LA PARTE DEL MEDIO */
.home-div{
    position: absolute;
    top: 7.9px;
    left: 50%;
    transform: translate(-52%, 0);
    /* border: 1px black solid; */
}
.home-options{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align:super;
    width: 126px;
    height: 39px;
    text-decoration: none;
    /* border: 1px #1b75e4 solid; */
    padding-top: 6px;
}
.HO1{
    box-sizing: border-box;
    height: 48px;
    color: #1b75e4;
    border-bottom: 3px #1b75e4 solid;
}
.HO2{
    box-sizing: border-box;
    border-radius: 8px;
    height: 44px;
    margin: 0px 8px 0 7px;
    color: #65676b;

}
.HO2:hover{
    background-color: #f2f2f2;
}
.HO3{
    box-sizing: border-box;
    border-radius: 8px;
    height: 44px;
    color: #65676b;
}
.HO3:hover{
    background-color: #f2f2f2;
}





/* LOS BOTONSITOS DE LA IZQUIERDA ARRIBA */
.profile-top-button{
    position: absolute;
    box-sizing: border-box;
    right: 225px;
    top: 9px;
    text-decoration: none;
    padding: 4px 10px 4px 3px;
    border-radius: 50px;

   /*  border: 1px solid black; */
}
.profile-top-button span{
    align-items: center;
    color: black;
}
.profile-image{
    vertical-align:-8px;
    height: 29px;
    width: 29px;
    margin-right: 5px;
}
.profile-top-button:hover{
    background-color: #f2f2f2;
}


.profile-div{
    position: absolute; 
    top: 8px;
    right: 33px;
}
.left-top-button{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    height: 30px;
    width: 40px;
    margin-left: 4px;
    text-decoration: none;
    padding-top: 10px;
    border-radius: 50%;
    color: black;
    background-color: #e4e6eb;
}
.left-top-button:hover{
    background-color: #d8dadf;
}
.ltb1{
    height: 20px;
    width: 20px;
}
.ltb4{
    height: 20px;
    width: 20px;
}




/* EL MENU DE LA IZQUIERDA ABAJO */
.left-menu{
    position: fixed;
    top: 60px;
    left: 0;
    box-sizing: border-box;
    width: 18vw;
    height: 89vh;
    border: 1px black solid;
}
.left-bottom-options{
    position: fixed;
    bottom: 0px;
    left: 0;
    box-sizing: border-box;
    width: 18vw;
    height: 4.5vh;
    border: 1px black solid;
}
.right-menu{
    position: fixed;
    top: 60px;
    right: 0;
    box-sizing: border-box;
    width: 18vw;
    height: 93.5vh;
    overflow-y: scroll;
    border: 1px black solid;
}
.XD{
    width: 35.4vw;
    height: 400px;
    border: 1px red solid;
    margin: 60px auto;
}